body {
    background-color: lightblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: large;
}

a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 50%;
}

img {
    width: 300px;
    border-radius: 50%;
}
