body {
    background-color: lightgray;
    text-align: center;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: larger;
}

a {
    background-color: lightcyan;
    color: black;
    text-decoration: none;
    padding: 6px;
    border-radius: 20%;
}

a:hover {
    background-color: yellow;
}

img {
    width: 200px;
    border-radius: 5%;
}